/*=====================
Basic Properties
======================*/

*{
    padding: 0;
    margin:0;
}


/*=====================
Navigation bar starts
======================*/

.navbar
{
    padding: 22px 50px 22px 50px;
    background-color: rgba(0,0,0,.9)!important;
}
#navbar-brand
{
    vertical-align: auto;
}
.navbar ul li a
{
    font-size: 13px;
    font-weight: 600;
    color: white !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s ease-in;
}

.navbar ul li a:hover , .navbar ul li a:focus
{
    color:deepskyblue !important;
}

.navbar-toggler
{
    border: 1px solid white !important;
    transition: all 0.5s ease-in;
}

.navbar-toggler:hover
{
    background-color: deepskyblue !important;
}

.location
{
    border: 1px solid white;
    border-radius: 50px;
}



/*=====================
Navigation bar ends
======================*/

/*=====================
Sticky navigation starts
======================*/

.secondary
{   width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #34495e !important;
}

/*=====================
Slider starts
======================*/
.slider
{
    width: 100% ;
    height: 700px ;
    background-image: url(..//images/slider%20background.jpg);
    background-size: cover ;
    background-position: center ;
    color: white ;
}

.slider-overlay
{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65) ;
    position: relative;
}

.slider-content
{
    width: 100%;
    top: 39%;
    position: absolute;
}

.icons .fa
{
    font-size: 35px;
    margin-right: 10px;
}

.cta-div
{
    margin-top: 30px;
}

.btn1
{
    padding: 13px 8px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    border-left-style: 1px;
    font-size: 13px;
    border: 2px solid white;
    border-top-left-radius: 15px;
    transition: all 0.5s ease-in;
    margin-right: -6px;
}

.btn1:hover
{
    text-decoration: none;
    color: white;
    background-color: deepskyblue;
    border-color: deepskyblue;
}

.btn2
{
    padding: 13px 8px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    border-left-style: 1px;
    font-size: 13px;
    border: 2px solid white;
    border-bottom-right-radius: 15px;
    transition: all 0.5s ease-in;
    margin-right: 10px;
}

.btn2:hover
{
    text-decoration: none;
    color: white;
    background-color: orangered;
    border-color: orangered;
}

.social-networks a.fa
{
    border: 1px solid white;
    padding: 10px;
    height: 35px;
    width: 35px;
    border-radius: 25px;
    color: white;
    margin-right: 2px;
    transition: all 0.5s ease-in;
}

.social-networks a.fa:hover
{
    text-decoration: none;
    background-color: deepskyblue;
    border:1px solid deepskyblue;
}

.text ,.typed-cursor
{
    font-size: 50px;
    display: inline;
}

.primary
{
    color:orangered;
}

.typed-cursor
{
    opacity: 1;
    animation: blink 0.75s infinite;
    -webkit-animation: blink 0.75s infinite;/*for chrome responsiveness*/
    -moz-animation: blink 0.75s infinite;/*for mozilla responpsiveness*/
}


@keyframes blink
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@-webkit-keyframes blink      /*Now for 2 different prefixes*/
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@-moz-keyframes blink
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}


/*=====================
Services section starts
======================*/

.service-wrap
{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    /*overflow: hidden;*/
    padding: 25px 35px;
    /*position: relative;*/
    /*z-index: 9;*/
    margin-top: 20px;
}

.service-wrap:hover
{
    color:white;
    border-radius: 10px;
    background-color: black;
    transform: scale(1.15);
}

/*.service-wrap:hover .service-wrap i
{
    transform: rotate(360deg);
}*/


/*=====================
work section starts
======================*/

.works
{
    margin-top: 25px;
}

.row.no-gutters [class*=col-]
{
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper   /*image will fit to screen*/
{
    overflow: hidden;
}

.img-wrapper img:hover
{
    transform: scale(1.5);
    cursor: zoom-in;
}

/*=====================
work section ends
======================*/


/*=====================
team section starts
======================*/

.team-member
{
    margin-top: 50px;
}
.team-member
{
    margin:0 15px;
}
.team-member-info
{
    padding:10px 0 30px 0;
}
.team-member-name
{
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}
.team-member-designation
{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5px;
    color: deepskyblue;
}
.social-list
{
    padding-left: 0;
}
.social-list li
{
    list-style: none;
    display: inline-block;
    width:10px;
    height:10px;
    margin-top: 10px;
    margin-right: 6px;
    font-size: 17px;
}
.social-list i
{
    color:#64707b;
}
/*=====================
team section starts
======================*/

.team-member
{
    margin-top: 50px;
}
.team-member
{
    margin:0 15px;
}
.team-member-info
{
    padding:10px 0 30px 0;
}
.team-member-name
{
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}
.team-member-designation
{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5px;
    color: deepskyblue;
}
.social-list
{
    padding-left: 0;
}
.social-list li
{
    list-style: none;
    display: inline-block;
    width:10px;
    height:10px;
    margin-top: 10px;
    margin-right: 6px;
    font-size: 17px;
}
.social-list i
{
    color:#64707b;
}

.carousel-inner img
{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 3px solid white;
    padding: 5px;
}

.testimonials
{
    background-image: url(..//images/review.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding-top: 80px;
    padding-bottom: 155px;
}

.testimonials .carousel-indicators
{
    bottom: -60px;
}

.border-bottom
{
    width: 40px;
    height: 2px;
    margin: 0 auto;
    background-color: white;
}

.carousel-inner p
{
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 30px;
}


/*=====================
team section ends
======================*/


/*=====================
faq section starts
======================*/

.panel-heading
{
    background-color: #34495e;
}

.panel-title a
{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 25px 35px;
    color: white;
    position: relative;
    display: block;
    border: none;
}

.panel-body
{
    margin-bottom: 15px;
    background-color: #ebebeb;
    font-size: 14px;
    color:#8c8c8c;
    position: relative;
    padding: 15px 25px;
    border-top: none;
    line-height: 25px;
}

/*=====================
faq section ends
======================*/


/*=====================
video section starts
======================*/

.color-overlay
{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(..//images/video.jpg);
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 180px;
    overflow: hidden;
    margin-top: 40px;
    background-attachment: fixed;
}

.play
{
    background: #fff url(..//images/play.jfif) no-repeat 60% 50% ;
    width: 110px;
    height: 110px;
    border-radius: 150px;
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 40px;
    box-shadow: 0 0 0 20px rgba(0,167,221,0.5);
    transition: all .1s ease-in;
}

.play:hover
{
    box-shadow: 0 0 15px 20px rgba(0,84,111,0.5);
}

/*=====================
video section ends
======================*/


/*=====================
blog section starts
======================*/

.blog .col-md-4
{
    box-shadow: 3px 0px 10px rgba(0,0,0,0.1);    
}

.news-image
{
    transform: scale(0.8);
    transition: all 0.5s;
    opacity: 0.7;
}

.news-image:hover
{
    transform: scale(1);
    opacity:1;
}

.date
{
    background: orange;
    height: 70px;
    width: 70px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    left: 0;
    top:0;
    position: absolute;
}

.blog i
{
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

.blog .fa-facebook
{
    color:#3b5995;
}
.blog .fa-twitter
{
    color:#0084b4;
}
.blog .fa-linkedin
{
    color:#0075b5;
}
.blog .fa-youtube
{
    color:red;
}
.blog .fa-whatsapp
{
    color:#34af23;
}

.blog .col-md-4 p
{
    margin-bottom: 15px;
    margin-top: 20px;
    text-align: justify;
}

.blog a
{
    text-decoration: none;
    font-size: 14px;
    background-color: #34495e;
    color: aliceblue;
    padding: 10px 20px;
    transition: all 0.4s ease-in;
}

.blog a:hover
{
    color: #34495e;
    background-color: transparent;
    border-top-right-radius: 20px;
    border:1px solid #34495e;
}

/*=====================
blog section ends
======================*/

/*=====================
stat section starts
======================*/

.stat
{
    background-image: url(..//images/stat.jpg);
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 200px;
    color: aliceblue;
    margin-top: 100px;
    background-attachment: fixed;
    background-position: center;
}

.stat i
{
    font-size: 80px;
}

.stat h2
{
    font-weight: bolder;
    font-size: 42px;
    color: deepskyblue;
}

.stat p
{
    font-weight: bold;
    letter-spacing: 1px;
}

/*=====================
stat section ends
======================*/


/*=====================
contact-area section starts
======================*/

.contact-area
{
    margin-top: 80px;    
}

.form-control
{
    border: 1px solid ;
}

.contact-form button
{
    font-size: 16px;
    font-weight: 700;
    padding: 12px 43px;
    border: 1px solid black;
}

.contact-area .border-bottom
{
    width: 40px;
    height: 2px;
    background: black;
}

#contact-infos
{
    background-color: darkcyan;
    padding-bottom: 5px;
    padding-top: 35px;
    margin-top: 90px;
    margin-bottom: -30px;
    
}

#contact-infos .fa
{
    color: aliceblue;
    font-size: 26px;
    border: 1px solid white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
}

#contact-infos p
{
    color: aliceblue;
    margin-top: 15px;
}

/*=====================
contact-area section ends
======================*/


/*=====================
map-area section starts
======================*/

.map
{
    margin-top: 30px;
}

/*=====================
map-area section ends
======================*/


/*=====================
footer-area section starts
======================*/


.footer
{
    background-image: url(..//images/footer.jpg);
    color: aliceblue;
    padding-top: 145px;
    padding-bottom: 120px;
    background-attachment: fixed;
}

.social-icons a
{
    margin: 0 16px 20px 16px;
    font-size: 30px;
    color: deepskyblue;
}

.footer .fa
{
    width: 80px;
    height: 80px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    line-height: 2;
    border: 10px solid #34495e;
    text-align: center;
    transition: all 0.7s ease-in;
}

.social-icons .fa:hover
{
    border: 10px solid white;
    transform: rotate(360deg);
}

.borderfooter
{
    width: 40px;
    border-bottom: 2px solid white;
    margin-top: 20px;
    margin: 0 auto;
}

/*=====================
footer-area section ends
======================*/

  
<script src="js/jquery-3.4.1.min.js" type="text/javascript" ></script>
<script src="js/bootstrap.min.js" type="text/javascript" ></script>
<script src="js/jquery.ripples-min.js" type="text/javascript" ></script>
<!--   <script src="js/typed.min.js" type="text/javascript" ></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>
<script src="js/jquery.magnific-popup.min.js" type="text/javascript"></script>
<script src="js/owl.carousel.min.js" type="text/javascript"></script>
<script src="js/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="js/jquery.counterup.min.js" type="text/javascript"></script>
 <script src="js/main.js" type="text/javascript" ></script>
 <script src="js/smoothscroll.js" type="text/javascript" ></script>
</body>
</html>
