*{
    padding: 0;
    margin:0;
}

/* START navigation bar  */
.navbar
{
    padding: 22px 50px 22px 50px;
    background-color: rgba(0,0,0,.9)!important;
}
#navbar-brand
{
    vertical-align: auto;
}
.navbar ul li a
{
    font-size: 13px;
    font-weight: 600;
    color: white !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s ease-in;
}

.navbar ul li a:hover , .navbar ul li a:focus
{
    color:deepskyblue !important;
}

.navbar-toggler
{
    border: 1px solid white !important;
    transition: all 0.5s ease-in;
}

.navbar-toggler:hover
{
    background-color: deepskyblue !important;
}

.location
{
    border: 1px solid white;
    border-radius: 50px;
}

/* END Navigation bar */