/*=====================
Basic Properties
======================*/

*{
    padding: 0;
    margin:0;
}


/*=====================
Navigation bar starts
======================*/

.navbar
{
    padding: 22px 50px 22px 50px;
    background-color: rgba(0,0,0,.9)!important;
}
#navbar-brand
{
    vertical-align: auto;
}
.navbar ul li a
{
    font-size: 13px;
    font-weight: 600;
    color: white !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s ease-in;
}

.navbar ul li a:hover , .navbar ul li a:focus
{
    color:deepskyblue !important;
}

.navbar-toggler
{
    border: 1px solid white !important;
    transition: all 0.5s ease-in;
}

.navbar-toggler:hover
{
    background-color: deepskyblue !important;
}

.location
{
    border: 1px solid white;
    border-radius: 50px;
}



/*=====================
Navigation bar ends
======================*/

/*=====================
Sticky navigation starts
======================*/

.secondary
{   width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #34495e !important;
}

/*=====================
Slider starts
======================*/
.slider
{
    width: 100% ;
    height: 700px ;
    background-image: url(..//images/slider%20background.jpg);
    background-size: cover ;
    background-position: center ;
    color: white ;
}

.slider-overlay
{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65) ;
    position: relative;
}

.slider-content
{
    width: 100%;
    top: 39%;
    position: absolute;
}

.icons .fa
{
    font-size: 35px;
    margin-right: 10px;
}

.cta-div
{
    margin-top: 30px;
}

.btn1
{
    padding: 13px 8px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    border-left-style: 1px;
    font-size: 13px;
    border: 2px solid white;
    border-top-left-radius: 15px;
    transition: all 0.5s ease-in;
    margin-right: -6px;
}

.btn1:hover
{
    text-decoration: none;
    color: white;
    background-color: deepskyblue;
    border-color: deepskyblue;
}

.btn2
{
    padding: 13px 8px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    border-left-style: 1px;
    font-size: 13px;
    border: 2px solid white;
    border-bottom-right-radius: 15px;
    transition: all 0.5s ease-in;
    margin-right: 10px;
}

.btn2:hover
{
    text-decoration: none;
    color: white;
    background-color: orangered;
    border-color: orangered;
}

.social-networks a.fa
{
    border: 1px solid white;
    padding: 10px;
    height: 35px;
    width: 35px;
    border-radius: 25px;
    color: white;
    margin-right: 2px;
    transition: all 0.5s ease-in;
}

.social-networks a.fa:hover
{
    text-decoration: none;
    background-color: deepskyblue;
    border:1px solid deepskyblue;
}

.text ,.typed-cursor
{
    font-size: 50px;
    display: inline;
}

.primary
{
    color:orangered;
}

.typed-cursor
{
    opacity: 1;
    animation: blink 0.75s infinite;
    -webkit-animation: blink 0.75s infinite;/*for chrome responsiveness*/
    -moz-animation: blink 0.75s infinite;/*for mozilla responpsiveness*/
}


@keyframes blink
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@-webkit-keyframes blink      /*Now for 2 different prefixes*/
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@-moz-keyframes blink
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}


/*=====================
Services section starts
======================*/

.service-wrap
{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    /*overflow: hidden;*/
    padding: 25px 35px;
    /*position: relative;*/
    /*z-index: 9;*/
    margin-top: 20px;
}

.service-wrap:hover
{
    color:white;
    border-radius: 10px;
    background-color: black;
    transform: scale(1.15);
}

/*.service-wrap:hover .service-wrap i
{
    transform: rotate(360deg);
}*/


/*=====================
work section starts
======================*/

.works
{
    margin-top: 25px;
}

.row.no-gutters [class*=col-]
{
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper   /*image will fit to screen*/
{
    overflow: hidden;
}

.img-wrapper img:hover
{
    transform: scale(1.5);
    cursor: zoom-in;
}

/*=====================
work section ends
======================*/


/*=====================
team section starts
======================*/

.team-member
{
    margin-top: 50px;
}
.team-member
{
    margin:0 15px;
}
.team-member-info
{
    padding:10px 0 30px 0;
}
.team-member-name
{
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}
.team-member-designation
{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5px;
    color: deepskyblue;
}
.social-list
{
    padding-left: 0;
}
.social-list li
{
    list-style: none;
    display: inline-block;
    width:10px;
    height:10px;
    margin-top: 10px;
    margin-right: 6px;
    font-size: 17px;
}
.social-list i
{
    color:#64707b;
}
/*=====================
team section starts
======================*/

.team-member
{
    margin-top: 50px;
}
.team-member
{
    margin:0 15px;
}
.team-member-info
{
    padding:10px 0 30px 0;
}
.team-member-name
{
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}
.team-member-designation
{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5px;
    color: deepskyblue;
}
.social-list
{
    padding-left: 0;
}
.social-list li
{
    list-style: none;
    display: inline-block;
    width:10px;
    height:10px;
    margin-top: 10px;
    margin-right: 6px;
    font-size: 17px;
}
.social-list i
{
    color:#64707b;
}

.carousel-inner img
{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 3px solid white;
    padding: 5px;
}

.testimonials
{
    background-image: url(..//images/review.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding-top: 80px;
    padding-bottom: 155px;
}

.testimonials .carousel-indicators
{
    bottom: -60px;
}

.border-bottom
{
    width: 40px;
    height: 2px;
    margin: 0 auto;
    background-color: white;
}

.carousel-inner p
{
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 30px;
}


/*=====================
team section ends
======================*/


/*=====================
faq section starts
======================*/

.panel-heading
{
    background-color: #34495e;
}

.panel-title a
{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 25px 35px;
    color: white;
    position: relative;
    display: block;
    border: none;
}

.panel-body
{
    margin-bottom: 15px;
    background-color: #ebebeb;
    font-size: 14px;
    color:#8c8c8c;
    position: relative;
    padding: 15px 25px;
    border-top: none;
    line-height: 25px;
}

/*=====================
faq section ends
======================*/
